<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wims.iot.mapper.PlanFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wims.iot.model.entity.PlanFile">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="size" property="size" />
        <result column="type" property="type" />
        <result column="directory_id" property="directoryId" />
        <result column="description" property="description" />
        <result column="entity_category_id" property="entityCategoryId" />
        <result column="url" property="url" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="uploader_id" property="uploaderId" />
        <result column="disaster_type" property="disasterType" />
        <result column="preplan_priority" property="preplanPriority" />
        <result column="applicable_area" property="applicableArea" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, size, type, directory_id, description, entity_category_id, url, created_at, updated_at, uploader_id, disaster_type, preplan_priority, applicable_area
    </sql>

</mapper>
